*{
    background-color: #AFEEEE;
    list-style: none;
  }
  
  .title{
    text-align:center;
    font-size:50px;
  }
  .slider{
    margin:50px auto 0;
    width:  70%;
    padding-left: 0;
    
  }
  
  .slider img{
    width:100%;
  }
  
  .slick-prev::before,
  .slick-next::before {
    color: black!important;
  }